.todo-page {
  text-align: center;
  font-family: Arial, sans-serif;
}

.task-input {
  margin-bottom: 20px;
  input {
    padding: 8px;
    margin-right: 5px;
  }
  button {
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  width: 210px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  cursor: pointer;

  &.completed .text{
    text-decoration: line-through;
    color: gray;
  }

  button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
  }
}
